@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');

* {
  border: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
}

input:focus {
  box-shadow: 0;
  outline: 0;
}

.button-container {
  background-color: #231d1e;
  color: #fffee4;
  font-weight: bold;
  letter-spacing: 0.5px;
}

.button-container-login {
  background-color: #231d1e;
  color: #fffee4;
  font-weight: bold;
  letter-spacing: 0.5px;
}

.button-container:hover {
  cursor: pointer;
}

.width-content {
  border: none;
  border-radius: 8px;
  margin-top: 20px;
  padding: 15px;
  width: 100%;
}

