@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');

* {
  border: 0;
  /* deixa o botão do tamanho do input */
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.button-container {
  background-color: #231d1e;
  color: #fffee4;
  font-weight: bold;
  letter-spacing: 0.5px;
}

.width-content {
  border: none;
  border-radius: 8px;
  margin-top: 20px;
  padding: 15px;
  width: 100%;
}
