@keyframes loading {

  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

.hourglass-content {
  animation: loading 2s linear infinite;
  height: 30px;
  width: 30px;
}

.loading-content {
  text-align: center;
}
