body {
  background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 0%, rgba(0, 212, 255, 1) 78%);
  height: 100%;
}

.form-music-content {
  border-radius: 15px;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 70px;
  /* position: absolute; */
  /* top: 30px; */
  width: 50%;
}

.input-artist-content {
  border: none;
  border-radius: 15px 0 0 15px;
  padding: 13px;
  width: 100%;
}

.button-search-artist {
  border-radius: 0 15px 15px 0;
  flex-grow: 0.25;
}

.label-artist-content {
  flex-grow: 1;
}

.search-artist-content {
  color: white;
  font-size: 21px;
  margin-left: 40px;
  margin-top: 60px;
}

.all-albums-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px;
  text-align: center;
}

.each-album {
  align-items: center;
  background-color: #231d1e;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  height: 339px;
  margin: 25px;
  padding: 20px;
  width: 250px;
}

.each-album:hover {
  height: 359px;
  transition: 0.5s;
  box-shadow: 10px 10px 19px rgb(43, 53, 199);
  width: 270px;
}

img {
  border-radius: 10%;
  height: 180px;
  width: 180px;
}

.link-album-content {
  color: white;
  text-decoration: none;
}

.margin-top-content {
  margin-top: 10px;
}

.btn-lup {
  display: none;
}
 

@media screen and (max-width: 800px) {
  .button-container {
    font-size: 0.7rem;
  }

  .form-music-content {
    width: 80%;
  }

  .search-artist-content {
    font-size: 1.4rem;
  }
}

@media screen and (max-width: 600px) {

  .btn-lup {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #231d1e;
    color: #fffee4;
    font-weight: bold;
    flex-grow: 0.8;
  }

  .button-container {
    display: none;
  }

  .form-music-content {
    width: 90%;
  }

  .each-album {
    margin: 10px;
    height: 350px;
    width: 85%;
  }

  .each-album img {
    height: 220px;
    width: 220px;
  }

  .search-artist-content {
    font-size: 1.4rem;
    margin: 15% 7% 0;
    width: 100%;
  }
}
